[submodule "nginx"]
	path = nginx
	url = git@bitbucket.org:gediminasgu/puppet-nginx.git
[submodule "puppi"]
	path = puppi
	url = git@bitbucket.org:gediminasgu/puppi.git
[submodule "mysql"]
	path = mysql
	url = git@bitbucket.org:gediminasgu/puppetlabs-mysql.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git@bitbucket.org:gediminasgu/puppet-rabbitmq.git
[submodule "nexus"]
	path = nexus
	url = git@bitbucket.org:gediminasgu/puppet-nexus.git
[submodule "website"]
	path = website
	url = git@bitbucket.org:gediminasgu/puppet-website.git
[submodule "amr"]
	path = amr
	url = git@bitbucket.org:gediminasgu/puppet-amr.git
[submodule "php5_fpm"]
	path = php5_fpm
	url = git@bitbucket.org:gediminasgu/puppet-php5-fpm.git
