[submodule "nginx"]
	path = nginx
	url = git@bitbucket.org:gediminasgu/puppet-nginx.git
[submodule "puppi"]
	path = puppi
	url = https://gediminasgu@github.com/gediminasgu/puppi.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git://github.com/garthk/puppet-rabbitmq.git
[submodule "php5-fpm"]
	path = php5-fpm
	url = git://github.com/BenoitCattie/puppet-php5-fpm.git
